/* * {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.fitted-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    margin: 0;
    padding: 0;
    background: url("../../img/bg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #000;
    background-size: cover;
}

.header-div .fa.fa-compact-disc {
    color: #fff;
    font-size: 40px;
}

.header-div .logo-div, .header-div .logo-div i {
    background: linear-gradient(to right, #FB806B 0%, #AA3A67 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 30px;
    font-weight: bold;

}



.navigation-bar-div button {
    background: transparent;
    margin-left: 15px;
    padding: 5px 20px;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.3s ease;
    color: #fff;
}

.navigation-bar-div button:hover {
    transform: scale(1.15);
}


.main {
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 10px;
    height: 100%;
}

.tabs {
    display: flex;
}

.tabs button {
    padding: 10px 0;
    width: 33.3%;
    background: transparent;


}

.searchField {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchWrapper {
    width: inherit;
    margin-top: 20px;
}

.searchWrapper input, .searchWrapper button {
    padding: 10px;
}
.searchWrapper input {
    border: solid 1px transparent;
    border-image: linear-gradient(45deg, #AA3A67, #FB806B);
    border-image-slice: 1;
    background: linear-gradient(45deg, #AA3A67, #FB806B);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    outline: none;
    width: 75%;
    background: transparent;
    color: #fff;
    font-size: 19px;
}

.searchWrapper button {
    background-image: linear-gradient(45deg, #AA3A67, #FB806B);

    border: none;
    outline: none;
    width: 25%;
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: bold;

}

.link {
    width: 33.3%;
    background: transparent;

}

.link button {
    border: solid 1px transparent;
    border-image: linear-gradient(45deg, #AA3A67, #FB806B);
    border-image-slice: 1;
    background: linear-gradient(45deg, #AA3A67, #FB806B);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    padding: 20px 0;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 18px;
    outline: none;

}

.active {
    background-color: #00000042;
}
.active button {
    color: #FB806B;
    font-weight: bold;
}
.video_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    clear: both;
}

.genres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.genres button {
    margin: 15px;
    outline: none;
    background: #4b223aa1;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    border: none;
    width: 160px;
    font-size: 20px;
}

.intro {
    width: 80%;
    margin: auto;
    text-align: center;
}

.intro-small {
    color: #fff;
    font-size: 17px;
}

.p-title {
    font-size: 45px;
    text-transform: uppercase;
    background: linear-gradient(to right, #FB806B 0%, #AA3A67 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.artist-container {
    clear: both;
    color: #fff;
    text-align: justify;
    background: #0000007d;
    padding: 20px;
    margin-top: 20px;
    font-size: 17px;
}


.artist_img {
    margin-right: 20px;
    float: left;
    width: 280px;
    height: 280px;
    border: solid 4px transparent;
    border-image: linear-gradient(45deg, #FB806B, #AA3A67);
    border-image-slice: 1;
    background: linear-gradient(45deg, #FB806B, #AA3A67);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
}

.artist_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.asas {
    position: absolute;
    top: 20%;
    right: 0;
}

.go-youtube {
    width: 70px;
    height: 45px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    border: none;
    outline: none;
    background: #c95569;
}

.song_container .song-item {
    border: 1px solid #a94f5a;
    font-size: 20px;
    background: #060209;
    margin: 15px 0;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.song_container .song-item .artist-img {
    order: -1;
    width: 75px;
    height: 75px;
}

.song_container .song-item .artist-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song_container .artist-name,
.song_container .song-name {
    width: 30%;
    text-align: left;
}

.video-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.video-fixed button {
    position: absolute;
    width: 300px;
    left: 0;
    margin: auto;
    right: 0;
    top: -25px;
    background: black;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: right;
} */
* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.fitted-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    margin: 0;
    padding: 0;
    background: url("../../img/bg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #000;
    background-size: cover;
}

.header-div .logo-div, .header-div .logo-div i {
    background: linear-gradient(to right, #FB806B 0%, #AA3A67 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 30px;
    font-weight: bold;

}

.navigation-bar-div button {
    background: transparent;
    margin-left: 15px;
    padding: 5px 20px;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.3s ease;
    color: #fff;
}

.navigation-bar-div button:hover {
    transform: scale(1.15);
}

.main {
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 10px;
    height: 100%;
}

.tabs {
    display: flex;
}

.tabs button {
    padding: 10px 0;
    width: 33.3%;
    background: transparent;

}

.searchField {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchWrapper {
    width: inherit;
    margin-top: 20px;
}

.searchWrapper input, .searchWrapper button {
    padding: 10px;
}

.searchWrapper input {
    border: solid 1px transparent;
    border-image: linear-gradient(45deg, #AA3A67, #FB806B);
    border-image-slice: 1;
    background: linear-gradient(45deg, #AA3A67, #FB806B);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    outline: none;
    width: 75%;
    background: transparent;
    color: #fff;
    font-size: 19px;
}

.searchWrapper button {
    background-image: linear-gradient(45deg, #AA3A67, #FB806B);
    color: #fff;
    border: none;
    outline: none;
    width: 25%;
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: bold;

}

.link {
    width: 33.3%;
    background: transparent;

}

.link button {
    border: solid 1px transparent;
    border-image: linear-gradient(45deg, #AA3A67, #FB806B);
    border-image-slice: 1;
    background: linear-gradient(45deg, #AA3A67, #FB806B);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    padding: 20px 0;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 18px;
    outline: none;

}

.active {
    background-color: #00000042;
}

.active button {
    color: #FB806B;
    font-weight: bold;
}

.video_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    clear: both;
}

.genres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.genres button {
    margin: 15px;
    outline: none;
    background: #4b223aa1;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    border: none;
    width: 160px;
    font-size: 20px;
}

.intro {
    width: 80%;
    margin: auto;
    text-align: center;
}

.intro-small {
    color: #fff;
    font-size: 17px;
}

.p-title {
    font-size: 45px;
    text-transform: uppercase;
    background: linear-gradient(to right, #FB806B 0%, #AA3A67 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.artist-container {
    overflow: hidden;
    clear: both;
    color: #fff;
    text-align: justify;
    background: #0000007d;
    padding: 20px;
    margin-top: 20px;
    font-size: 17px;
}

.artist_img {
    margin-right: 20px;
    float: left;
    width: 280px;
    height: 280px;
    border: solid 4px transparent;
    border-image: linear-gradient(45deg, #FB806B, #AA3A67);
    border-image-slice: 1;
    background: linear-gradient(45deg, #FB806B, #AA3A67);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
}

.artist_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.asas {
    position: absolute;
    top: 20%;
    right: 0;
}

.go-youtube {
    width: 70px;
    height: 45px;
    color: #E91E63;
    font-weight: bold;
    font-size: 25px;
    border: none;
    outline: none;
    background: transparent;
}

.song_container .song-item {
    border: 1px solid #a94f5a;
    font-size: 20px;
    background: #060209;
    margin: 15px 0;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.song_container .song-item .artist-img {
    order: -1;
    width: 75px;
    height: 75px;
}

.song_container .song-item .artist-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song_container .artist-name,
.song_container .song-name {
    width: 30%;
    text-align: left;
}

.video-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.video-fixed button {
    position: absolute;
    width: 300px;
    left: 0;
    top: -25px;
    margin: auto;
    right: 0;
    background: black;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .p-title {
        font-size: 20px;
    }

    .logo-div {
        font-size: 15px !important;
    }

    .song_container .song-item {
        font-size: 16px;
    }

    .tabs {
        flex-direction: column;
    }

    .tabs .link {
        width: 100%;
    }

    .searchWrapper {
        display: flex;
        flex-direction: column;
    }

    .searchWrapper > input,
    .searchWrapper > button {
        width: 100% !important;
    }

    .artist_img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 575px) {
    .artist_img {
        width: 80px;
        height: 80px;
    }

    .song_container .song-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 15px auto;
    }

    .song_container .artist-name,
    .song_container .song-name {
        width: 80%;
        text-align: center;
    }

    .song_container .song-item .artist-img {
        width: 100%;
        height: 180px;
    }

    .song_container .song-item .artist-name {
        font-size: 19px;
    }

    .tabs {
        flex-direction: column;
    }

    .tabs .link {
        width: 100%;
    }

    .searchWrapper {
        display: flex;
        flex-direction: column;
    }

    .searchWrapper > {
        width: 100%;
    }

    .header-div {
        flex-direction: column;
    }

    .navigation-bar-div button {
        margin-left: 0;
    }
}